:root {
    --game-panel-offset: 40px;
}

.gameRoot {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameMain {
    width: calc(100% - var(--game-panel-offset));
    height: calc(100% - var(--game-panel-offset));
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

}
.gameMain > * {
    width: 90%;
}
.gamePhase {
    width: 90%;
    margin-top: 10px;
    text-align: center;
    border: 2px solid white
}

.gameChat {
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    flex-grow: 1;
}
.gameChatMessage {
    padding: 2px 0 2px 0
}
.gameChat span {
    width: 100%;
    text-align: left;
}
.gameActionBar {
    border: 2px solid white;
    height: 40px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gameActionBar > div {
    font-size: 2rem;
}
.gameActionBar > img {
    padding-top: 0.25rem;
    height: 2.1rem;
}
.gameChatBar {
    border: 2px solid white;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gameChatBar > input[type='image'] {
    height: 70%;
    padding-left: 10px;
    padding-right: 5px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.gameChatInput {
    height: 100%;
    flex-grow: 1;
    background-color: transparent;
}